.btn-mvp{
    width: 9em;
    text-align: -webkit-center !important; 
    border-radius: 0;
}

#carnaval {
	width: 50%;
}

.thumb {
	position: relative;
	width: 100%;
}
@media print {
	body {-webkit-print-color-adjust: exact;}
	.esconde{
		 display: none;	
	}
}

.nome {
	position: relative;
	z-index: 20;
	padding-left: 15px;
	margin-top: -156px;
	color: rgb(100,100,100) !important;
}
.quebra{
	margin-top: 13px;
}
.top{

}

