<nav class = "navbar navbar-default" role = "navigation">
   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#mvp-drop">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
      <a class = "navbar-brand" href = "#">SMPD</a>
     
   </div>
   <div class = "collapse navbar-collapse" id = "mvp-drop">
      <ul class = "nav navbar-nav" ng-transclude>
      </ul>
   </div>
</nav>